*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 96%;
    margin: 20px auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    
}